In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
 
import json
import pickle

In [2]:
data = pd.read_csv('spotify3.csv')

In [3]:
data.head()

   acousticness  ...                      id
0      0.998996  ...  6KbQ3uYMLKb5jDxLF7wYDD
1      0.997992  ...  6KuQTIu1KoTTkLXKrwlLPV
2      0.606426  ...  6L63VW0PibdM1HDSBoqnoM
3      0.998996  ...  6M94FkXd15sOAOQYRnWPN8
4      0.993976  ...  6N6tiFZ9vLTSOIxkj8qKrd

[5 rows x 15 columns]

In [4]:
data.describe()

        acousticness   danceability  ...        valence           year
count  169909.000000  169909.000000  ...  169909.000000  169909.000000
mean        0.495195       0.544686  ...       0.532095       0.567911
std         0.378140       0.177475  ...       0.262408       0.258517
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.094880       0.422065  ...       0.322000       0.363636
50%         0.493976       0.554656  ...       0.544000       0.575758
75%         0.891566       0.675101  ...       0.749000       0.787879
max         1.000000       1.000000  ...       1.000000       1.000000

[8 rows x 13 columns]

In [5]:
from sklearn.model_selection import train_test_split

# train/test split
train, test = train_test_split(data, test_size=0.2, random_state=42)
train.head()

        acousticness  ...                      id
31517       0.001084  ...  6fLvsD8uWsCRow8PfOpMav
708         0.871486  ...  50pwsTFVsJTYA7rPFGpAoP
110555      0.402610  ...  0q0cKtWbDbAeVrtql6lkB2
4104        0.159639  ...  6XMg9IQsc2MY0G55dFlnoY
148835      0.041265  ...  5nKoCK2SIO2dE9m09sh58d

[5 rows x 15 columns]

In [6]:
train.shape, test.shape

((135927, 15), (33982, 15))

In [9]:
from sklearn.neighbors import NearestNeighbors
import pickle

    # fix for pickle error
NN = NearestNeighbors(n_neighbors=10, 
                          algorithm='kd_tree', 
                          metric='euclidean', 
                          leaf_size=50, 
                          n_jobs=-1
    )

filename = 'test_1.sav'
pickle.dump(NN, open(filename, 'wb'))
model = pickle.load(open(filename, 'rb'))

In [28]:
# Base function using a knn model input and a track id
def KNN(model, track_id): 
   model.fit(data[data.columns[0:12]])
 
   obs = data.index[data['id'] == track_id]
   series = data.iloc[obs, 0:12].to_numpy()
 
   neighbors = model.kneighbors(series)
 
   new_obs = neighbors[1][0][1:16]
   print(new_obs)
   print(list(data.loc[new_obs, 'id']))

In [29]:
# pickled model and random track id
KNN(model, '6fLvsD8uWsCRow8PfOpMav')

[123864 104406 105322 150553  83780   6914  68331 168893 103433]
['5arE0i12UB4WuGraBVcuXE', '0gXMYs6RDg5muWWoi2q3mb', '4XDBEoD6QFnzDY5oMmNVXN', '1rvbY7HXYsFXSlLqxphocK', '16x9viSmRS3PII71Pdeowc', '5CAaWuGhF4XvUm2liCkThA', '46MoFdSoufjnzJ2NWuhRA0', '3ASlnePYdvR9RPlQyTJipP', '6SUudbR4vTazN9Jb7QWQn5']

In [30]:
KNN(model, '50pwsTFVsJTYA7rPFGpAoP')

[  8707  34030  99249   8501  99259 136158  89010    885 127475]
['3HAAKjpHv1SmZ1yvdgg0of', '1ixhN5Ny7eU5oYJ8j4yPTu', '05YfjSrFdFFNkS4AJoQr7z', '2pZoaMCHtvNl8WUWBQNRkK', '06z0xKRgqATQvr82f1qQeA', '4KCccOna239pckiyWEBSCy', '1sAFd9paCfBdrSfKJyEn0V', '3zR1UrjOZ4xAcjnetjvAEr', '0zqc6NoBNqYq8n0TGjYyTC']

In [31]:
data.iloc[3889]

acousticness                    0.00191767
danceability                      0.268219
duration_ms                      0.0262643
energy                                0.82
instrumentalness                    0.0265
key                               0.909091
liveness                             0.157
loudness                          0.828956
popularity                            0.35
speechiness                      0.0546956
tempo                             0.381944
valence                              0.479
year                              0.575758
artists                      ['Buzzcocks']
id                  7cZtsWVdq8Df9NXh8DDHKm
Name: 3889, dtype: object