In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import json
import pickle

In [22]:
data = pd.read_csv('spotify3.csv')

In [23]:
data.head()

   acousticness  ...                      id
0      0.998996  ...  6KbQ3uYMLKb5jDxLF7wYDD
1      0.997992  ...  6KuQTIu1KoTTkLXKrwlLPV
2      0.606426  ...  6L63VW0PibdM1HDSBoqnoM
3      0.998996  ...  6M94FkXd15sOAOQYRnWPN8
4      0.993976  ...  6N6tiFZ9vLTSOIxkj8qKrd

[5 rows x 15 columns]

In [24]:
data.describe()

        acousticness   danceability  ...        valence           year
count  169909.000000  169909.000000  ...  169909.000000  169909.000000
mean        0.495195       0.544686  ...       0.532095       0.567911
std         0.378140       0.177475  ...       0.262408       0.258517
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.094880       0.422065  ...       0.322000       0.363636
50%         0.493976       0.554656  ...       0.544000       0.575758
75%         0.891566       0.675101  ...       0.749000       0.787879
max         1.000000       1.000000  ...       1.000000       1.000000

[8 rows x 13 columns]

In [25]:
from sklearn.model_selection import train_test_split

# train/test split
train, test = train_test_split(data, test_size=0.2, random_state=42)
train.head()

        acousticness  ...                      id
31517       0.001084  ...  6fLvsD8uWsCRow8PfOpMav
708         0.871486  ...  50pwsTFVsJTYA7rPFGpAoP
110555      0.402610  ...  0q0cKtWbDbAeVrtql6lkB2
4104        0.159639  ...  6XMg9IQsc2MY0G55dFlnoY
148835      0.041265  ...  5nKoCK2SIO2dE9m09sh58d

[5 rows x 15 columns]

In [26]:
train.shape, test.shape

((135927, 15), (33982, 15))

In [30]:
from sklearn.neighbors import NearestNeighbors
import pickle

track_id = '6KuQTIu1KoTTkLXKrwlLPV'

    # fix for train, test data split
NN = NearestNeighbors(n_neighbors=10, 
                          algorithm='kd_tree', 
                          metric='euclidean', 
                          leaf_size=50, 
                          n_jobs=-1
    )

NN.fit(train[train.columns[0:12]])

obs = train.index[train['id'] == track_id]
series = test.iloc[obs, 0:12].to_numpy()

neighbors = NN.kneighbors(series)

new_obs = neighbors[1][0][1:16]
print(new_obs)
print(list(data.loc[new_obs, 'id']))
filename = 'test_1.sav'
pickle.dump(NN, open(filename, 'wb'))

[ 95370 101289  33534 135191 123107  10122   9874  47435   9533]
['46q5BtHso0ECuTKeq70ZhW', '4DWiUj21xSWY8XN9sM79Tc', '1smFzg83FkqhEQEbvcKTu0', '5Fim1gaXBgsiFfsQAfQSDS', '6GS6uE1vDmtzxO8GztAR2O', '3JgW4RlNhqnBLPCpSm3N2C', '2IkFfCOWnN6UmWu6Di4TjA', '1nj3fP1BRNJWfWZOFZ56nu', '1Hm74cTxxu5f1pMZbWZ1Q3']

In [28]:
KNN('6fLvsD8uWsCRow8PfOpMav')

[ 20461 103546  63641  36525  47348   2159  98084 133570 130926]

['6SkBQmkSPAjLZFrDEmM0fW',
 '52m8IrzripYje6bVxUILQU',
 '2EelxhcFWRyUo6DPySjvQk',
 '6gVXJNHw1DBEaGEMJgTj1k',
 '1SSj8VnmFs7jDDGUddEOoY',
 '2OZBaElueR8UCp8bQZWII0',
 '0otHsVKTN9bClr32r0caHD',
 '3iiObSfkcBsETljmSB4Hcs',
 '4EB7Ns81BoD0ARUVn56qq0']

In [ ]:
NN = NearestNeighbors(n_neighbors=10)
NN.fit(data[data.columns[0:12]])

In [ ]:
KNN('50pwsTFVsJTYA7rPFGpAoP')

In [ ]:
data.loc[150553]

In [ ]:
KNN('1rvbY7HXYsFXSlLqxphocK')